/*police*/

@font-face{
	font-family: "shrikhand";
		src: url("Police/Shrikhand/Shrikhand-Regular.eot") format("eot"),
			url("Police/Shrikhand/Shrikhand-Regular.woff") format("woff"),
			url("Police/Shrikhand/Shrikhand-Regular.ttf") format("truetype"),
			url("Police/Shrikhand/Shrikhand-Regular.svg") format("svg");
	font-weight: normal;
}

@font-face{
	font-family: "roboto_light";
		src: url("Police/Roboto/Roboto-Light.ttf") format("eot"),
			url("Police/Roboto/Roboto-Light.woff") format("woff"),
			url("Police/Roboto/Roboto-Light.ttf") format("truetype"),
			url("Police/Roboto/Roboto-Light.svg") format("svg");
	font-weight: normal;
}

@font-face{
	font-family: "roboto_medium";
		src: url("Police/Roboto/Roboto-Medium.ttf") format("eot"),
			url("Police/Roboto/Roboto-Medium.woff") format("woff"),
			url("Police/Roboto/Roboto-Medium.ttf") format("truetype"),
			url("Police/Roboto/Roboto-Medium.svg") format("svg");
	font-weight: normal;
}

body{
    width: 100%;
    margin: 0;
}
h1,h2{
    font-family: Shrikhand;
}

.menu p{
    font-family: roboto_medium;
}

a {
    color: black;
    text-decoration: none;
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.en_tete{
    width: 100%;
    height: 50px;
    display: flex;
    
    align-items: center;
}

}
.en_tete i{
    display: flex;
    
}

.en_tete h1{
    display: flex;
    justify-content: center;
}


/*Accueil - fonctionnement*/

.onglet_enfant{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
}

/*image commune*/

img{
    width: 100%;
    height: auto;
    font-size: 100%;
}

/*footer commun*/
footer{
    width: 100%;
    height: 200px;
    background-color: rgb(44, 42, 42);
}

footer i{
    color: white;
}

footer p{
    color: white;
}

.titre_footer h1{
    height: 10%;
    color: white;
}

.proposer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.partenaire{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button{
    border-radius: 15px;
    background: linear-gradient(to right bottom, #FF79DA, #9356DC);
}