/*police*/

@font-face{
	font-family: "shrikhand";
		src: url("Police/Shrikhand/Shrikhand-Regular.eot") format("eot"),
			url("Police/Shrikhand/Shrikhand-Regular.woff") format("woff"),
			url("Police/Shrikhand/Shrikhand-Regular.ttf") format("truetype"),
			url("Police/Shrikhand/Shrikhand-Regular.svg") format("svg");
	font-weight: normal;
}

@font-face{
	font-family: "roboto_light";
		src: url("Police/Roboto/Roboto-Light.ttf") format("eot"),
			url("Police/Roboto/Roboto-Light.woff") format("woff"),
			url("Police/Roboto/Roboto-Light.ttf") format("truetype"),
			url("Police/Roboto/Roboto-Light.svg") format("svg");
	font-weight: normal;
}

@font-face{
	font-family: "roboto_medium";
		src: url("Police/Roboto/Roboto-Medium.ttf") format("eot"),
			url("Police/Roboto/Roboto-Medium.woff") format("woff"),
			url("Police/Roboto/Roboto-Medium.ttf") format("truetype"),
			url("Police/Roboto/Roboto-Medium.svg") format("svg");
	font-weight: normal;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
h1,h2{
    font-family: Shrikhand;
}

.menu p{
    font-family: roboto_medium;
}

a {
    color: black;
    text-decoration: none;
}

.en_tete i{
    display: flex;
    
}

.en_tete h1{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px){

header{
    width: 100%;

}

.en_tete{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*champ de recherche*/

aside{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F2F2F2;
}

.recherche{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

:-ms-input-placeholder{
    background-color: grey;
}

button{
    width: 50%;
    height: 40px;
}

.informations{
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*Accueil - fonctionnement*/

.onglet{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.onglet_enfant{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.numero_onglet{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #9356DC;
    border-radius: 50%;
}

.onglet_enfant i:hover{
    color: #9356DC;
}

.texte_onglet{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #F2F2F2;
    box-shadow: 0px 5px 10px grey;
}

.texte_onglet:hover{
    background-color: #ddc2ff; /*revoir code couleur*/
}

.restaurant{
    height: 1200px;
}

.liste_restaurant{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.carte_restaurant{
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 15px;
}

.carte_restaurant img{
    
    max-width: 100%;
    max-height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.description{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bloc_texte{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.bloc_texte p{
    margin: 0;
}

/*image commune*/

img{
    width: 100%;
    height: auto;
    font-size: 100%;
}

/*footer commun*/
footer{
    width: 100%;
    height: 200px;
    background-color: rgb(44, 42, 42);
}

footer i{
    color: white;
}

footer p{
    color: white;
}

.titre_footer h1{
    height: 10%;
    color: white;
}

.proposer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.partenaire{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button{
    color: white;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right bottom, #FF79DA, #9356DC);
    box-shadow: 0px 5px 10px grey ;
}
}